<% provide(:title, "Detail") %>
<h1>"<%= @entry.category %>"的細節</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <%= form_for(@entry) do |f| %>
      <%= render 'full_form_fields', f: f %>
      <%= f.submit "Modify This Record", class: "btn btn-primary" %>
      <%= link_to "Cancel", root_path %>
    <% end %>
  </div>
</div>